@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(Bluelagoo.jpg);
    background-repeat: no-repeat;
}

.conteneur {
    display: flex;
    flex-direction: column;
    height: 56rem;
    width: 100%;
}

.textarea {
    display: flex;
    height: 50%;
    width: 20%;
    background-color: white;
    top: 30%;
    left: 10%;
    position: absolute;
    /* resize: none; */
    border: none;
}

.icon {
    display: flex;
    height: 8%;
    width: 20%;
    background-color: rgb(0, 255, 13);
    top: 22%;
    left: 10%;
    position: absolute;
    border-radius: 15px 15px 0 0;
}

.icon1 {
    display: flex;
    height: 10%;
    width: 23.4%;
    /* background-color: rgb(240, 76, 0); */
    top: 20%;
    left: 10%;
    position: fixed;
    border-radius: 15px 15px 0 0;
}

.icon1 img {
    width: 30%;
    height: 40%;
    left: 55%;
    position: absolute;
    opacity: 15px;
    top: 40%;
    cursor: pointer;
}

.icon2 img {
    width: 30%;
    height: 37%;
    left: 78%;
    position: absolute;
    opacity: 15px;
    top: 30%;
    cursor: pointer;
}

.button {
    display: flex;
    height: 8%;
    width: 10%;
    background-color: rgb(0, 255, 13);
    position: absolute;
    top: 5%;
    left: 85%;
}

.button button {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 13);
    border-color: rgb(0, 255, 13);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

button {
    box-sizing: border-box;
}

button p {
    font-size: 1.2vw auto auto;
    font-weight: bold;
    inline-size: auto;
}

